$hover-color: #3498db;
$bg-color: #17202a;

.contact {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $hover-color;
  .contact-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 60%;
    }
  }
  .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      color: $bg-color;
      font-size: 1.4rem;
      font-weight: bold;
    }
    p:hover {
      color: #fff;
    }
    .contact-social {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: auto;
      padding: 1rem 0.2rem;
      border-radius: 5px;
      background-color: $bg-color;
      margin-bottom: 2rem;
      .contact-item {
        color: #fff;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .social-item {
          font-size: 4rem;
          cursor: pointer;
          margin-bottom: 1rem;
        }
        .social-item:hover {
          color: $hover-color;
        }
        .social-item:hover + h6 {
          color: $hover-color;
        }
        h6 {
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .contact .contact-pic {
    margin-bottom: 3rem;
  }
  .contact .contact-content p {
    font-size: 0.9rem;
  }
}
